<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>

<body class="d-flex justify-content-center align-items-center vh-100 flex-column"> <!-- 여기에 flex-column 추가 -->
<div class="w-50">
    <div class="card mt-4">
        <div class="card-body">
            <p class="text-center">* 똑같은 지문이 여러 번 등장할 수 있습니다.
                이는 오류가 아니니 "검색어(Query)"와 대조하여 "유사도(O/X)"를 판단해주세요.</p>
            <p class="text-center">*
                안녕윤정아너를처음본순간부터좋아했어방학전에고백하고싶었는데바보같이그땐용기가없더라
                지금은이수많은사람들앞에서오로지너만사랑한다고말하고싶어서큰마음먹고용기내어봐매일매
                일버스에서너볼때마다두근댔고동아리랑과활동에서도너만보이고너생각만나고지난3월부터계
                속그랬어니가남자친구랑헤어지고니맘이아파울때내마음도너무아팠지만내심좋은맘두있었어이
                런내맘을어떻게말할지고민하다가정말인생에서제일크게용기내어세상에서제일멋지게많은사람
                들앞에서너한테고백해주고싶었어사랑하는윤정님내여자가되줄래?아니나만의태양이되어줄래?
                난너의달님이될게내일3시반에너수업마치고학관앞에서기다리고있을게너를사랑하는ㅎ홍주가</p>
        </div>
    </div>
</div>

<div class="w-50">
    <h3 class="text-center mb-4">설문조사 로그인</h3>
    <form action="#" th:action="@{/survey/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="mb-3">
            <label for="username" class="form-label">아이디:</label>
            <input type="text" class="form-control" id="username" name="username" required minlength="1" maxlength="100">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호:</label>
            <input type="password" class="form-control" id="password" name="password" required minlength="1" maxlength="100">
        </div>
        <button type="submit" class="btn btn-primary w-100">로그인</button>
    </form>
</div>
</body>
</html>
