<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>

<body>
<div class="container mt-5">
    <h2 class="mb-4">Survey Query</h2>
    <div class="list-group">
        <div th:each="post, iterStat : ${posts}" class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><span th:text="${iterStat.count}">1</span>. <span th:text="${post.title}"  th:href="@{${post.url}}">Post Title</span></h5>
                <small>Date: <span th:text="${post.dateTime}">Date</span></small>
            </div>
            <p class="mb-1" th:text="${#strings.length(post.text) > 100 ? #strings.substring(post.text, 0, 100) + '...' : post.text}">Post Text</p>
        </div>
    </div>
</div>

</body>
</html>
