<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="d-flex inOrderOrLatest" th:fragment="inOrderOrLatest"> <!--정확도순/최신순 d-flex: 가로 정렬, 라디오버튼은 name으로 같은 그룹-->
    <div class="form-check m-auto">
        <input class="form-check-input inOrderBox" type="radio" name="searchScopeRadio" value="InOrderChecked" id="inOrderChecked2" checked >
        <label class="form-check-label" for="InOrderChecked2">정확도순</label>
    </div>

    <div class="form-check m-auto">
        <input class="form-check-input latestBox" type="radio" name="searchScopeRadio" value="latestChecked" id="latestChecked" >
        <label class="form-check-label" for="latestChecked">최신순</label>
    </div>
</div>