<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="mt-5 optionsErrorsDiv" th:fragment="optionsErrorsDiv">
    <div class="text-center text-danger field-error" th:errors="*{searchForm.selectedSites}">
        하나 이상의 사이트를 선택하세요!
    </div>

    <div class="text-center text-danger field-error" th:errors="*{searchForm.searchScopeRadio}">
        하나 이상의 정렬 순서를 선택하세요!
    </div>

    <div class="text-center text-danger field-error" th:errors="*{searchForm.searchPeriodRadio}">
        하나 이상의 기간을 선택하세요!
    </div>
</div>
