<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="d-flex bg-skyblue p-3 border rounded parentOptions" th:fragment="parentOptions"> <!-- 옵션들 선택-->

  <div class="form-check m-auto">
    <input class="form-check-input unifiedSearchChecked" type="checkbox"
           value="unifiedSearchChecked" th:field="*{searchForm.selectedSites}"
           id="unifiedSearchChecked1" checked>
    <label class="form-check-label" for="unifiedSearchChecked1">통합 검색</label>
  </div>

  <div class="form-check m-auto">
    <input class="form-check-input inOrderBox" type="checkbox"
           value="InOrderChecked" th:field="*{searchForm.searchScopeRadio}"
            id="inOrderChecked1" checked>
    <label class="form-check-label" for="inOrderChecked1">정확도순</label>
  </div>

  <div class="form-check m-auto">
    <input class="form-check-input allTimeBox" type="checkbox"
           value="allTimeChecked" th:field="*{searchForm.searchPeriodRadio}"
            id="allTimeChecked1" checked>
    <label class="form-check-label" for="allTimeChecked1">전체 기간</label>
  </div>

  <div class="form-check m-auto">
    <input class="form-check-input categoryRecommendChecked" type="checkbox"
           value="categoryRecommendChecked" th:field="*{searchForm.categoryRecommendChecked}"
            id="categoryRecommendChecked1" checked>
    <label class="form-check-label" for="categoryRecommendChecked1">분류 추천 사용</label>
  </div>

  <!-- 버튼을 클릭하여 펼치기/접기 토글. 다른 div에 있는 것도 펼치고접을 수 있다. -->
  <div class="m-auto">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiv"
            aria-expanded="false" aria-controls="collapseDiv">
      세부 옵션 설정
    </button>

  </div>
</div>